<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

</head>
<body>
    <main class="admin-page-wrapper">
        <section class="side-nav">
            <a href="/Admin/Analysis/Index">
                <img src="~/StaticImages/home.svg" />
                <span>Home</span>
            </a>
            <a href="/Admin/Brands/List">
                <img src="~/StaticImages/flyers.svg" />
                <span>Brands</span>
            </a>
            <a href="/Admin/Products/List">
                <img src="~/StaticImages/box.svg" />
                <span>Products</span>
            </a>
            <a href="/Admin/OfferImg/Index">
                <img src="~/StaticImages/carousel.svg" />
                <span>Carousel</span>
            </a>
            <a href="/Admin/Orders/Index">
                <img src="~/StaticImages/list.svg" />
                <span>Orders</span>
            </a>
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()

                    <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                }
            }
            
        </section>
        <section class="admin-page">
            @RenderBody()
            <hr />
        </section>
    </main>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

