@model DokoMobile.Domain.Entities.Product

<div class="col-md-3">
    <p>within display templ</p>
    <p>Name: @Model.Name</p>
    <p>Brand: @Model.Brands.BrandName</p>
    <p>Price: @Model.Price</p>
    <img src=@Model.ImgPath1 width="100" height="100" />
    <p>Discount: @Model.HasDiscount</p>
    @using (Html.BeginForm("AddToCart", "Cart", new { area = "Buy" }))
    {
        @Html.Hidden("productId", Model.ProductId)
        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
        <input type="submit" class="btn btn-primary" value="Add to cart" />
    }
</div>