@model DokoMobile.WebUI.ViewModels.AdminAnalysisViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 style="margin-bottom: 35px;">Dashboard - Home</h2>
<h2 class="text-center">
    Todays registered users
</h2>
<table class="table">
    <tbody>
        @foreach (var item in Model.Users)
        {
        <tr>
            <td>
                <p>@item.UserName</p>
            </td>
            <td>
                <p>@item.FullName</p>
            </td>
        </tr>

        }

    </tbody>
</table>




<section class="generated-products">
    <h2 class="text-center">
        Most clicked products for today
    </h2>
    <div class="grid-design w-100">
        @foreach (var item in Model.PopularProducts)
        {
            <a href="/Front/ProductItem?id=@item.ProductId">
                <div class="product-item">
                    <div class="product-item-img">
                        <img src=@item.Product.ImgPath1 />
                    </div>
                    <div class="product-details">
                        <p class="product-name">@item.Product.Name &nbsp; @item.Product.Brands.BrandName</p>
                    </div>
                    <span class="text-center" style="color: #333333;">This Product was clicked @item.ClickCount times</span>
                </div>
            </a>
        }
    </div>
</section>

<section>
    <h2 class="text-center">
        New orders for today
    </h2>
    <div>
        @if (!Model.TodaysOrders.Any())
        {
            <p class="text-center">There are no orders for today</p>
        }
        else
        {
            <p class="text-center">
                Users that have ordered for today
            </p>
            foreach (var item in Model.TodaysOrders)
            {
                <p>@item.FullName</p>
                <br />
            }
        }

    </div>
</section>
