@model DokoMobile.WebUI.ViewModels.MainPgViewModel
@{
    ViewBag.Title = "MainPage";
}
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<main class="position-relative">
    <section class="brands main-padding">
        <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
        <h1 class="text-center">Doko Mobile Shop</h1>
        <div class="brands-design">
            <img src="~/StaticImages/more-svg.svg" class="more-dots" />
            <img src="~/StaticImages/apple-svg.svg" class="smaller-icon" />
            <img src="~/StaticImages/samsung-svg.svg" />
            <img src="~/StaticImages/playstation-svg.svg" class="smaller-icon" />
            <img src="~/StaticImages/vivo-svg.svg" />
            <img src="~/StaticImages/more-svg.svg" class="more-dots" />
        </div>
    </section>
    <section class="carousel-container">
        <section class="carousel-design">
            <div class="carousel-items"><span class="product-name-carousel"></span><span class="product-price-carousel"></span></div>
            <div class="carousel-items">
                <span class="product-name-carousel"></span><span class="product-price-carousel"></span>
            </div>
            @if (Model.OfferImgs.Any())
            {
                foreach (var item in Model.OfferImgs)
                {
                    <div class="carousel-items">
                        <span class="product-name-carousel">@*@item.BrandAndName*@</span>
                        <span class="product-price-carousel">@*@item.Price $*@</span>
                        <img src=@item.ImgPath />
                    </div>

                }
            }
            <div class="carousel-items"><span class="product-name-carousel"></span><span class="product-price-carousel"></span></div>
            <div class="carousel-items"><span class="product-name-carousel"></span><span class="product-price-carousel"></span></div>
        </section>
        <div class="prev-btn">
            <img id="prev" src="~/StaticImages/left-arrow.svg" />
        </div>
        <div class="next-btn">
            <img id="next" src="~/StaticImages/next.svg" />
        </div>
    </section>
</main>
<section class="categories main-padding">
    <h2 class="text-center">What We Offer</h2>
    <div class="categories-design">
        <a href="@Url.Action("Smartphone","Front")">
            <img src="~/StaticImages/mobile-phone.svg" />
            <span>Smartphone</span>
        </a>
        <a href="@Url.Action("Accessories","Front")">
            <img src="~/StaticImages/earbuds.svg" />
            <span>Accesories</span>
        </a>
        <a href="@Url.Action("Gaming","Front")">
            <img src="~/StaticImages/game-controller.svg" />
            <span>Gaming</span>
        </a>
        <a href="@Url.Action("Services","Front")">
            <img src="~/StaticImages/tools.svg" />
            <span>Service</span>
        </a>
    </div>
</section>
<section class="commercial">
    <h2 class="text-center">Our Services</h2>
    <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
        aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
        eos qui ratione voluptatem sequi nesciunt.
    </p>
    <div class="services">
        <div>
            <h3>Feel Safe</h3>
            <img src="~/StaticImages/insurance-svg.svg" />
            <p>Every product of ours is insured for at least one year so nothing can go wrong with your product.</p>
        </div>
        <div>
            <h3>Online Payments</h3>
            <img src="~/StaticImages/paypal-svg.svg" />
            <p>Payment is now possible through our website. All you need is a PayPal account. </p>
        </div>
        <div class="dark-commercial">
            <h3>Delivery</h3>
            <img src="~/StaticImages/deliver-svg.svg" />
            <p>Every product is now closer to you than ever before with fast delivery within a day. </p>
        </div>
    </div>
</section>
<section class="generated-products">
    <h2 class="text-center">
        The Latest Products In Our Shop
    </h2>
    <div class="grid-design w-100">
        @foreach (var item in Model.Products)
        {
            <div class="product-item">
                <div class="product-item-img">
                    <img src=@item.ImgPath1 />
                </div>
                <div class="product-details">
                    <p class="product-name">@item.Name &nbsp; @item.Brands.BrandName</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="product-price">@item.Price $</p>
                        @using (Html.BeginForm("AddToCart", "Cart", new { area = "Buy" }))
                        {
                            @Html.Hidden("productId", item.ProductId)
                            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                            <input type="submit" class="btn btn-primary" value="Add to cart" />
                        }
                    </div>
                </div>
            </div>

        }
    </div>
</section>

<script src="~/Scripts/carousel.js"></script>



