@model DokoMobile.Domain.Entities.Product

@{
    ViewBag.Title = "ProductItem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="product-page">
    <div class="product-main-image">
        <img src="@Model.ImgPath1" />
    </div>
    <div class="product-information-wrapper">
        <h1>
            @Html.DisplayFor(model => model.Name)
        </h1>
        <h2>
            @Html.DisplayFor(model => model.Price) $
        </h2>
        <p>
            @Html.DisplayFor(model => model.Description)
        </p>
        <h4 class="in-stock">In Stock</h4>
        @using (Html.BeginForm("AddToCart", "Cart", new { area = "Buy" }))
        {
            @Html.Hidden("productId", Model.ProductId)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            <input type="submit" class="btn btn-primary" value="Add to cart" />
        }
        <div class="product-information d-flex">
            <div>
                <img src="~/StaticImages/mobile-phone-black.svg" />
                @Html.DisplayFor(model => model.ProductCondition)
            </div>
            <div>
                <img src="~/StaticImages/paint-palette.svg" />
                @Html.DisplayFor(model => model.Color)
            </div>
            <div>
                <img src="~/StaticImages/cpu.svg" />
                @Html.DisplayFor(model => model.RAM) GB
            </div>
            <div>
                <img src="~/StaticImages/sd-card.svg" />
                @Html.DisplayFor(model => model.Memory) GB
            </div>

        </div>
    </div>
</section>
